<h1>タスク 編集</h1>
<%= form_with model: @task, local: true do |form| %>
  <div>
    <p>タイトル <%= form.text_field :title %></p>
    <p>内容 <%= form.text_field :content %></p>
    <%= form.submit "送信" %>
  </div>
  <%= link_to "一覧画面へ", tasks_path %>
<% end %>